Datastore/
*.asv
*.mat

#Ignore folders
html/**
__pycache__/**
Dependencies/**

#Ignore Config Files
config.ini

#Ignore zip folders
*.zip

#Ignore MoTeC Log Files
*.ld
*.ldx

#Ignore some MATLAB files
*.mex*